
.custom-toolbar {
  background-color: #1976d2;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.fill-remaining-space {
  flex: 1;
}

.content-wrapper {
  position: absolute;
  top: 64px;
  bottom: 56px;
  left: 0;
  right: 0;
  overflow: auto;
}

.toolbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-icon {
  cursor: pointer;
  color: white;
}

mat-card {
  cursor: pointer;
}

mat-form-field {
  width: 100%;
}

h1 {
  padding: 5px;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex-basis: calc(50% - 20px);
  margin: 10px;
  box-sizing: border-box;
}