<div class="page-wrapper">
    <div class="login-container">
        <div class="logo">
            <mat-icon>person_add</mat-icon>
        </div>

        <div style="text-align: center; margin-bottom: 5px;">
            Junior's Guidance
        </div>

        <form [formGroup]="signupForm">
            <div fxLayout="column">

                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="signupForm.controls['name'].touched && signupForm.controls['name'].invalid">
                        <span *ngIf="signupForm.controls['name'].errors?.['required']">
                            This field is required.
                        </span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error *ngIf="signupForm.controls['email'].touched && signupForm.controls['email'].invalid">
                        <span *ngIf="signupForm.controls['email'].errors?.['required']">
                            This field is required.
                        </span>
                        <span *ngIf="signupForm.controls['email'].errors?.['pattern']">
                            This field is invalid
                        </span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" required>
                    <mat-error *ngIf="signupForm.controls['password'].touched && signupForm.controls['password'].invalid">
                        <span *ngIf="signupForm.controls['password'].errors?.['required']">
                            This field is required.
                        </span>
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="login-btn" [disabled]="!(signupForm.valid && signupForm.dirty)" (click)="handleSignup()">
                    Signup
                </button>

            </div>
        </form>

        <div class="home-link">
            <span (click)="goBack()" style="color: blue; cursor: pointer;">
                Back to Login
            </span>
        </div>
    </div>
</div>