mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #ccc;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.custom-toolbar {
  background-color: #1976d2;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

.content {
    height: calc(100vh - 130px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    padding: 16px;
    overflow: auto;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.hamburger {
    color: white;
}

.logout-button {
    color: white;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

    mat-icon {
        margin-right: 8px;
    }
}

.avatar {
    display: block;
    margin: 16px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    object-fit: cover;
}

.name {
    margin-top: 8px;
    margin-bottom: 0px !important;
    font-weight: bold;
    color: black;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    font-weight: bold;
    color: black;
}

mat-divider {
    margin: 16px 0;
    border-top-color: black;
    border-top-width: 1px;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    color: white;
}

.active {
    background: white;
    color: black;
}

.custom-divider {
    background-color: black;
}

.button-margin {
    margin-left: 5px;
    margin-right: 5px;
}